.payment_header {
  padding: 20px;
  text-align: center;
  font-size: 24px;
  background-color: white;
}
.payment {
  padding: 30px;
}
.flex {
  display: flex;
  gap: 20px;
  padding: 30px;
}
.flex h3 {
  min-width: 300px;
}
.flex img {
  width: 80px !important;
}
.flex div {
  height: auto !important;
}
.paymetn_card_container {
  margin-bottom: 20px;
  max-width: 350px;
  width: 100%;
}

.container {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 20px;
  padding: 20px;
  background: white;
  max-width: 300px;
}

.total {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #eee;
}

.payButton {
  width: 100%;
  background-color: #ce840d;
  color: rgb(234, 228, 228);
  border: none;
  border-radius: 4px;
  padding: 12px;
  font-size: 14px;
  cursor: pointer;
}

.payButton:hover {
  background-color: #e68900;
}

.loading {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  color: red;
}
